{% if page.navigation %}
  <link rel="stylesheet" href="{{ '/assets/localnav.css' | relative_url }}">
{% endif %}
{% if page.url == "/incipe" or page.url == "/en/incipe" %}
  <meta property="apple-itunes-app" content="app-id=1575544584">
  <meta property="apple-mobile-web-app-title" content="Incipe">
  <meta property="application-name" content="Incipe">
  <link rel="stylesheet" href="{{ '/assets/incipe.css' | relative_url }}">
{% endif %}
{% if page.url == "/" or page.url == "/en/ %}
  <link rel="stylesheet" href="{{ '/assets/bio.css' | relative_url }}">
{% endif %}

  <script src="{{ '/assets/css_browser_selector.js' | relative_url }}" type="text/javascript"></script>
  <script src="https://code.jquery.com/jquery-3.6.1.slim.min.js" integrity="sha256-w8CvhFs7iHNVUtnSP0YKEg00p9Ih13rlL9zGqvLdePA=" crossorigin="anonymous"></script>
